<%- include("./header.partial.ejs") %>
<h1>Witamy na stronie głownej naszej strony!</h1>
<h2>Dostępne opcje:</h2>
<a href="/card_db">Wyszukiwarka kart</a><br>
<a href="/owned">Zbiór kart posiadanych</a><br>
<%- include("./footer.partial.ejs") %>