<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= details.name %></h1>
    <p><%= details.description %></p>
    <a href="/">Powrót</a>
  </body>
</html>

